body{
    background: url(../images/background.jpg);
    background-color: #4aaaa5;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 100%;
    background-attachment: fixed;
    height: 800px;
    text-align: center
}

.container{
    border: 3px solid black;
    margin-top: 40px;
}

#crystal-box{
    padding: 30px 15px 30px 90px;
}


h1{
    text-align: center;
}